{% extends 'base.html.twig' %}

{% block title %}xPOI{% endblock %}

{% block body %}
<div class="d-flex w-100 flex-column" style="padding: 1rem 1rem 0">
    <header class="masthead">
      <div class="inner">
        <h3 class="masthead-brand"><a href="/">xPOI</a></h3>
        <nav class="nav nav-masthead justify-content-center">
        </nav>
      </div>
    </header>

    <div role="main" class="main-container container-fluid" style="height: 100%; padding: 0; text-shadow: none">

  <div class="row justify-content-md-center" style="height: 100%">
        <div class="col col-lg-3 right-menu">
                <div class="top-bar">
                    <input type="text" class="form-control" placeholder="Szukaj" id="poi-search">

                </div>
                <div class="list-group" id="poi-menu-list">
                </div>
            </div>
    <div class="col">
        <div id="gmaps" class="map-container" style="width: 100%; height: 100%; position: absolute; right: 0;">
            <div id="map"></div>
            {# <div id="infobox"></div> #}
            <script> 
                var pois = {{ poi_list|raw }};
            </script>
            <script>
                var mapContainer = document.getElementById('gmaps');
                var map;
                var markerOnClick;
                var poiMarkers = {}, poiMarkersDom = {};  
                var poiMenu;
                var searchResults = [];

                function initMap() {
                    var zoomPos = 4, centerPosObj = {lat: 51.920, lng: 28.284};
                    if(pois.length > 0){
                        centerPosObj = {lat: pois[0].geometry.coordinates[1], lng: pois[0].geometry.coordinates[0]};
                        zoomPos = 8;
                    }

                    map = new google.maps.Map(document.getElementById('map'), {
                        center: centerPosObj,
                        zoom: zoomPos
                    });

                    //map.data.loadGeoJson('test.php');
                    //map.data.loadGeoJson('poi/list');

                    map.data.setStyle({
                        fillColor: 'green',
                        strokeWeight: 3
                    });

                    var infowindow = new google.maps.InfoWindow();
                    infowindow.setOptions({pixelOffset: new google.maps.Size(0,-2)});

                    markerOnClick = function(event){
                        var title = this.title;
                        var desc = this.description;
                        var listElem;
                        
                        var content = `<div id="info-window-content"><h1 id="firstHeading" class="firstHeading">${title}</h1><div id="bodyContent"><p>${desc}</p></div>` + createAttach(this.images);
    
                        infowindow.setContent(content);
                        infowindow.setPosition(this.position);
                        infowindow.open(map, this);
                        listElem = poiMenu[0].querySelector("a[data-id='" + this.pid  + "']");
                        selectPoiMenuItem(listElem);
                        if(event){
                            listElem.scrollIntoView();
                        }
                    };

                    google.maps.event.addListener(infowindow, 'domready', function(){
                        $('#attachment').magnificPopup({
                            delegate: 'a',
                            type: 'image',
                            gallery: {
                                enabled: true,
                                navigateByImgClick: true,
                                preload: [0,1],
                                tCounter: '<span class="mfp-counter">Zdjęcie %curr% z %total%</span>',
                                tPrev: 'Poprzednie',
                                tNext: 'Następne'
                            },
                            removalDelay: 300,
                            mainClass: 'mfp-fade',
                        });
                    });

                    google.maps.event.addListener(infowindow,'closeclick',function(){
                        deselectPoiMenuItem();
                    });

                    function createAttach(images){
                        var imgsrc, att = $('<div>', {"id": "attachment", "class": "photo-gallery"});
                        for(var i = 0, j = images.length; i < j; i++){
                            imgsrc = images[i];
                            att.append(
                                $('<a>', {"href": imgsrc}).append(
                                    $('<img>', {"class": "thumb attach", "src": imgsrc})
                                )
                            );
                        }
                        return att[0].outerHTML;
                    }
                }

                function selectPoiMenuItem(item){
                    deselectPoiMenuItem();
                    $(item).addClass('active');
                }

                function deselectPoiMenuItem(){
                    $(poiMenu[0].querySelector("a.active")).removeClass('active');
                }

                function openPoi(id){
                    google.maps.event.trigger(poiMarkers[id], 'click');
                    map.panTo(poiMarkers[id].position);
                }

                function searchPoi(query){
                    if(query == ""){
                        resetSearch();
                    }
                    else{
                        var marker;
                        var regex = new RegExp(escapeRegExp(query), "i");
    
                        for (var id in poiMarkers) {
                            marker = poiMarkers[id];
                            if(isSuccess(marker)){
                                //searchResults.push(id);
                                poiMarkersDom[id].removeAttr('style');
                            }
                            else{
                                poiMarkersDom[id].hide();
                            }
                        }
                    }

                    function isSuccess(marker){
                        //return marker.title.indexOf(query) > -1 || marker.descriptionText.indexOf(query) > -1;
                        return regex.test(marker.title) || regex.test(marker.descriptionText);
                    }

                    function escapeRegExp(text) {
                        return text.replace(/[-[\]{}()*+?.,\\^$|#\s]/g, '\\$&');
                    }

                    function resetSearch(){
                        for (var id in poiMarkersDom) {
                            poiMarkersDom[id].removeAttr('style');
                        }                        
                    }
                }



                window.addEventListener('load', function() { 
                    var selectedPoiMarker, selectPoiClickListener, removeSelectedPoi = function() {};
                    poiMenu = $("#poi-menu-list"), tempDiv = document.createElement("div");
                    var inputTimeout;

                    var markerCluster = new MarkerClusterer(map, null, {imagePath: "{{ asset('img/markerclusterer') }}/m", minimumClusterSize: 2, gridSize: 25, averageCenter: true});

                    for(var i = 0, j = pois.length; i < j; i++){
                        currentpoi = pois[i];
                        addPoi(currentpoi.geometry.coordinates[1], currentpoi.geometry.coordinates[0], currentpoi.properties);
                    }
                    
                    function addPoi(latitude, longitude, properties){
                        var m = new google.maps.Marker({
                            position: new google.maps.LatLng(latitude, longitude),
                            map: map,
                            title: properties.title,
                            description: properties.description,
                            descriptionText: stripHtml(properties.description),
                            pid: properties.id,
                            images: properties.images
                        });

                        if(properties.marker_icon){
                            var icon = {
                                url: properties.marker_icon,
                                scaledSize: new google.maps.Size(50, 50),
                                origin: new google.maps.Point(0,0),
                                anchor: new google.maps.Point(25, 25)
                            };
                            m.setIcon(icon);
                        }
                        
                        m.addListener('click', markerOnClick);
                        var pmi = createPoiMenuItem(properties.title, m.descriptionText, properties.id, latitude, longitude);
                        poiMenu.append(pmi);
                        poiMarkers[properties.id] = m;
                        poiMarkersDom[properties.id] = pmi;
                        markerCluster.addMarker(m);
                    }

                    function createPoiMenuItem(title, descriptionText, id, latitude, longitude){
                        return $('<a>', {"href": "#", "class": "list-group-item list-group-item-action flex-column align-items-start poi-list-item", "data-id": id}).append(
                            $('<div>', {"class": "d-flex w-100 justify-content-between"}).append(
                                $('<h5>', {"class": "mb-1"}).text(title)
                            )
                        ).append(
                            $('<p>', {"class": "mb-1"}).text(descriptionText)
                        ).append(
                            $(document.createElement('small')).text(stripHtml(latitude.toFixed(3) + ", " + longitude.toFixed(3)))
                        ).on("click", poiItemClick);
                    }

                    function poiItemClick(e){
                        e.preventDefault();
                        openPoi(this.dataset.id);
                    }

                    function stripHtml(html){
                        tempDiv.innerHTML = html.replace(/(<\/p>|<br>)/g, " $1");
                        return tempDiv.textContent;                            
                    }

                    $("#poi-search").on("input", function(){
                        var e = this;
                        clearTimeout(inputTimeout);
                        inputTimeout = setTimeout(function() { searchPoi(e.value); }, 600);
                    });
                });

            </script>
        </div>
    </div>
  </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  
  {# <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> #}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% endblock %}