{% extends 'base.html.twig' %}

{% block title %}xPOI{% endblock %}

{% block body %}
<div class="d-flex w-100 flex-column" style="padding: 1rem 1rem 0">
    <header class="masthead">
      <div class="inner">
        <h3 class="masthead-brand"><a href="/">xPOI</a></h3>
        <nav class="nav nav-masthead justify-content-center">
          <!-- <a class="nav-link" href="{{ path('home') }}">+ Dodaj nowy punkt</a> -->
          <!-- <a class="nav-link" href="#">Features</a> -->
          <button type="button" id="done_selection" class="btn btn-light btn-menu" style="display: none"><i class="material-icons">done</i>&nbsp;Zakończ wybieranie punktu</button>
          <button type="button" id="save_all" class="btn btn-outline-light btn-menu btn-outline"><i class="material-icons">done_all</i>&nbsp;Zakończ i zapisz</button>          
          <button type="button" id="add_poi" class="btn btn-outline-light btn-menu btn-outline" data-toggle="modal" data-target="#addPoiModal"><i class="material-icons">add_location</i>&nbsp;Dodaj nowy punkt</button>
        </nav>
      </div>
    </header>

    <div class="modal fade" id="addPoiModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dodaj nowy punkt</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add-poi-form" action="{{ path('add_poi') }}">
                <div class="form-group">
                    <label for="poi-title" class="col-form-label">Tytuł:</label>
                    <input type="text" class="form-control" id="poi-title" name="title" required>
                </div>
                <div class="form-group">
                    <label for="poi-lat" class="col-form-label">Współrzędne:</label>
                    <div class="form-row">
                        <div class="col">
                            <input type="number" min="-90" max="90" step="0.0000001" class="form-control" placeholder="Szerokość" id="poi-lat" name="latitude" required>
                        </div>
                        <div class="col">
                            <input type="number" min="-180" max="180" step="0.0000001" class="form-control" placeholder="Długość" id="poi-lng" name="longitude" required>
                        </div>
                        <div class="col-auto">
                            {# <button type="button" class="btn btn-link" onclick="selectPoint()">Wskaż</button> #}
                            <button type="button" id="select-poi" class="btn btn-icon-dark btn-sm">
                                <i class="material-icons">place</i>
                            </button>
                        </div>                        
                    </div>
                </div>                
                <div class="form-group">
                    <label for="description-text" class="col-form-label">Opis:</label>
                    <textarea id="description-text" name="description"></textarea>
                    <script>
                            Simditor.locale = 'pl';
                            Simditor.i18n = {  'pl': {
                                'blockquote': 'Block Quote',
                                'bold': 'Bold',
                                'code': 'Code',
                                'color': 'Text Color',
                                'coloredText': 'Colored Text',
                                'hr': 'Horizontal Line',
                                'image': 'Insert Image',
                                'externalImage': 'Z sieci',
                                'uploadImage': 'Z dysku',
                                'uploadFailed': 'Upload failed',
                                'uploadError': 'Error occurs during upload',
                                'imageUrl': 'Url',
                                'imageSize': 'Size',
                                'imageAlt': 'Alt',
                                'restoreImageSize': 'Restore Origin Size',
                                'uploading': 'Uploading',
                                'indent': 'Indent',
                                'outdent': 'Outdent',
                                'italic': 'Italic',
                                'link': 'Insert Link',
                                'linkText': 'Tekst linku',
                                'linkUrl': 'Adres',
                                'linkTarget': 'Target',
                                'openLinkInCurrentWindow': 'Open link in current window',
                                'openLinkInNewWindow': 'Open link in new window',
                                'removeLink': 'Remove Link',
                                'ol': 'Ordered List',
                                'ul': 'Unordered List',
                                'strikethrough': 'Strikethrough',
                                'table': 'Table',
                                'deleteRow': 'Delete Row',
                                'insertRowAbove': 'Insert Row Above',
                                'insertRowBelow': 'Insert Row Below',
                                'deleteColumn': 'Delete Column',
                                'insertColumnLeft': 'Insert Column Left',
                                'insertColumnRight': 'Insert Column Right',
                                'deleteTable': 'Delete Table',
                                'title': 'Title',
                                'normalText': 'Text',
                                'underline': 'Underline',
                                'alignment': 'Alignment',
                                'alignCenter': 'Align Center',
                                'alignLeft': 'Align Left',
                                'alignRight': 'Align Right',
                                'selectLanguage': 'Select Language',
                                'fontScale': 'Font Size',
                                'fontScaleXLarge': 'X Large Size',
                                'fontScaleLarge': 'Large Size',
                                'fontScaleNormal': 'Normal Size',
                                'fontScaleSmall': 'Small Size',
                                'fontScaleXSmall': 'X Small Size'
                              }
                            };
                        var editor = new Simditor({
                            textarea: $('#description-text'),
                            cleanPaste: false,
                            upload: true
                            //optional options
                        });
                        /*
                        var editor = new Jodit('#description-text', {
                            uploader: {
                                url: 'http://localhost:8181/index-test.php?action=fileUpload'
                            },
                            removeButtons: ['copyformat', 'print', ],
                            defaultActionOnPaste: "INSERT_ONLY_TEXT",
                            askBeforePasteFromWord: false,
                            askBeforePasteHTML: false,
                            zIndex: 99999,
                            globalFullsize: false,
                            buttonsMD: [
                                'bold',
                                'italic',
                                'underline',
                                'strikethrough',
                                '|',
                                'ul',
                                'ol',
                                '|',
                                'font',
                                'fontsize',
                                'brush',
                                'paragraph',
                                '|',
                                'image',
                                'table',
                                'link',
                                'symbol',
                                '|',
                                'align',
                                'outdent',
                                'indent',
                                '|',
                                'undo',
                                'redo',
                                '|',
                                'hr',
                                'eraser',
                                'copyformat',
                                'fullsize',
                                'dots',
                            ],
                            controls: {
                                font: {
                                    list: {
                                        'Roboto': 'Domyślna',
                                        'Helvetica,sans-serif': 'Helvetica',
                                        'Arial,Helvetica,sans-serif': 'Arial',
                                        'Georgia,serif': 'Georgia',
                                        'Impact,Charcoal,sans-serif': 'Impact',
                                        'Tahoma,Geneva,sans-serif': 'Tahoma',
                                        "'Times New Roman',Times,serif": 'Times New Roman',
                                        'Verdana,Geneva,sans-serif': 'Verdana',
                                    }
                                },
                            },
                            toolbarSticky: false,
                            minHeight: 180,
                            language: 'pl',
                            i18n: {
                                pl: {
                                   'Type something': 'Pisz tutaj'
                                }
                            }
                        });*/
                    </script>                    
                    {# <textarea class="form-control" id="description-text" name="description" required></textarea> #}
                </div>
                <div class="form-group">
                    <label for="poi-photos">Zdjęcia:</label>
                    <input type="file" class="form-control-file" id="poi-photos" name="photos[]" accept="image/*" multiple>
                </div>
                <div class="form-group">
                    <label class="col-form-label">Ikona znacznika:</label>
                    <div class="form-check form-check">
                        <div class="form-row align-items-center">
                            <div class="form-group col-md-2">
                                    <input class="form-check-input" type="radio" name="poi-marker-icon" id="poi-marker-default" value="default" checked>
                                    <label class="form-check-label" for="poi-marker-default">Domyślna</label>
                                </div>
                                <div class="col mb-3 ml-2">
                                    <img src="https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2.png"/>
                                </div>
                        </div>
                        </div>
                    <div class="form-check form-check">
                        <div class="form-row align-items-center">
                            <div class="form-group col-md-2 mt-1">
                                <input class="form-check-input" type="radio" name="poi-marker-icon" id="poi-marker-cust" value="custom">
                                <label class="form-check-label" for="poi-marker-cust">Własna</label>
                            </div>
                            <div class="col-auto">
                                <img id="icon-preview" style="display: none" />
                            </div>
                            <div class="col">
                                <input type="file" class="form-control-file" id="poi-marker-icon-file" name="poi-marker-icon-image" accept="image/*">
                            </div>
                        </div>                
                    </div>                   
                </div>     
                <div class="modal-footer">
                    <input type="button" class="btn btn-light" value="Wyczyść" id="clear-form"></input>&nbsp;
                    <button type="submit" class="btn btn-primary">Zatwierdź</button>
                </div>                           
                </form>
            </div>
            </div>
        </div>
    </div>

    <div role="main" class="main-container container-fluid" style="height: 100%; padding: 0; text-shadow: none">

  <div class="row justify-content-md-center" style="height: 100%">
        <div class="col col-lg-3 right-menu">
                <div class="top-bar">
                    <input type="text" class="form-control" placeholder="Szukaj">
                    
                </div>
                <div class="list-group" id="poi-menu-list">
                </div>
            </div>
    <div class="col">
        <div id="gmaps" class="map-container" style="width: 100%; height: 100%; position: absolute; right: 0;">
            <div id="map"></div>
            {# <div id="infobox"></div> #}
            <script>
                var showRightMenu = function(){
                    document.querySelector("#poi-menu-list").parentElement.style.display = "block";
                    showRightMenu = function() {};
                };
                var mapContainer = document.getElementById('gmaps');
                var map;
                var markerOnClick;
                var poiMarkers = {};  
                var poiMenu;

                function initMap() {

                    map = new google.maps.Map(document.getElementById('map'), {
                        center: {lat: 51.920, lng: 28.284},
                        zoom: 4
                    });

                    //map.data.loadGeoJson('test.php');
                    //map.data.loadGeoJson('poi/list');

                    map.data.setStyle({
                        fillColor: 'green',
                        strokeWeight: 3
                    });

                    var infowindow = new google.maps.InfoWindow();
                    infowindow.setOptions({pixelOffset: new google.maps.Size(0,-2)});

                    markerOnClick = function(event){
                        var title = this.title;
                        var desc = this.description;
                        var listElem;
                        
                        var content = `<div id="info-window-content"><h1 id="firstHeading" class="firstHeading">${title}</h1><div id="bodyContent"><p>${desc}</p></div>` + createAttach(this.images);
    
                        infowindow.setContent(content);
                        infowindow.setPosition(this.position);
                        infowindow.open(map, this);
                        listElem = poiMenu[0].querySelector("a[data-id='" + this.pid  + "']");
                        selectPoiMenuItem(listElem);
                        if(event){
                            listElem.scrollIntoView();
                        }
                    };

                    google.maps.event.addListener(infowindow, 'domready', function(){
                        $('#attachment').magnificPopup({
                            delegate: 'a',
                            type: 'image',
                            gallery: {
                                enabled: true,
                                navigateByImgClick: true,
                                preload: [0,1],
                                tCounter: '<span class="mfp-counter">Zdjęcie %curr% z %total%</span>',
                                tPrev: 'Poprzednie',
                                tNext: 'Następne'
                            },
                            removalDelay: 300,
                            mainClass: 'mfp-fade',
                        });
                    });

                    google.maps.event.addListener(infowindow,'closeclick',function(){
                        deselectPoiMenuItem();
                    });

                    function createAttach(images){
                        var imgsrc, att = $('<div>', {"id": "attachment", "class": "photo-gallery"});
                        for(var i = 0, j = images.length; i < j; i++){
                            imgsrc = images[i];
                            att.append(
                                $('<a>', {"href": imgsrc}).append(
                                    $('<img>', {"class": "thumb attach", "src": imgsrc})
                                )
                            );
                        }
                        return att[0].outerHTML;
                    }
/*
                    map.data.addListener('click', function(event) {
                        var title = event.feature.getProperty('title');
                        var desc = event.feature.getProperty('description');
                        
                        var content = `<div id="info-window-content"><div id="siteNotice"></div><h1 id="firstHeading" class="firstHeading">${title}</h1><div id="bodyContent"><p>${desc}</p></div></div>`

                        infowindow.setContent(content);
                        infowindow.setPosition(event.latLng);
                        infowindow.open(map);
                        //console.log(event);
                        //map.data.overrideStyle(event.feature, {fillColor: 'red'});
                    });
*/
                }

                function selectPoiMenuItem(item){
                    deselectPoiMenuItem();
                    $(item).addClass('active');
                }

                function deselectPoiMenuItem(){
                    $(poiMenu[0].querySelector("a.active")).removeClass('active');
                }

                function openPoi(id){
                    google.maps.event.trigger(poiMarkers[id], 'click');
                    map.panTo(poiMarkers[id].position);
                }

                window.addEventListener('load', function() {
                    var selectedPoiMarker, selectPoiClickListener, removeSelectedPoi = function() {};
                    poiMenu = $("#poi-menu-list"), tempDiv = document.createElement("div");

                    var markerCluster = new MarkerClusterer(map, null, {imagePath: "{{ asset('img/markerclusterer') }}/m", minimumClusterSize: 2, gridSize: 28, averageCenter: true});

                    $.ajax({ 
                        url: "{{ path('unsaved_poi') }}",
                        dataType: "json",
                        success: function(data) {
                            var currentpoi, pois = data.features, count = pois.length;
                            if(count > 0){
                                showRightMenu();
                                for(var i = 0; i < count; i++){
                                    currentpoi = pois[i];
                                    addPoi(currentpoi.geometry.coordinates[1], currentpoi.geometry.coordinates[0], currentpoi.properties);
                                }
                                map.panTo(new google.maps.LatLng(currentpoi.geometry.coordinates[1], currentpoi.geometry.coordinates[0]));
                                map.setZoom(6);
                            }
                        },
                        error: function(data){
                            alert("Nie udało się pobrać listy punktów");
                        }
                    });
                    
                    function addPoi(latitude, longitude, properties){
                        var m = new google.maps.Marker({
                            position: new google.maps.LatLng(latitude, longitude),
                            map: map,
                            title: properties.title,
                            description: properties.description,
                            pid: properties.id,
                            images: properties.images
                        });

                        if(properties.marker_icon){
                            var icon = {
                                url: properties.marker_icon,
                                scaledSize: new google.maps.Size(50, 50),
                                origin: new google.maps.Point(0,0),
                                anchor: new google.maps.Point(25, 25)
                            };
                            m.setIcon(icon);
                        }
                        
                        m.addListener('click', markerOnClick);
                        poiMenu.append(createPoiMenuItem(properties.title, properties.description, properties.id, latitude, longitude));
                        poiMarkers[properties.id] = m;
                        markerCluster.addMarker(m);
                        showRightMenu();
                    }

                    function createPoiMenuItem(title, description, id, latitude, longitude){
                        return $('<a>', {"href": "#", "class": "list-group-item list-group-item-action flex-column align-items-start poi-list-item", "data-id": id}).append(
                            $('<div>', {"class": "d-flex w-100 justify-content-between"}).append(
                                $('<h5>', {"class": "mb-1"}).text(title)
                            ).append(
                                $('<small>', {"class": "manage"}).append(
                                    $('<i>', {"class": "material-icons"}).text("delete").click(deletePoiItem)
                                ).append('&nbsp;&nbsp;&nbsp;').append(
                                    $('<i>', {"class": "material-icons"}).text("edit").click(editPoiItem)
                                )
                            )
                        ).append(
                            $('<p>', {"class": "mb-1"}).text(stripHtml(description))
                        ).append(
                            $(document.createElement('small')).text(stripHtml(latitude.toFixed(3) + ", " + longitude.toFixed(3)))
                        ).on("click", poiItemClick);

                        function stripHtml(html){
                            tempDiv.innerHTML = html.replace(/(<\/p>|<br>)/g, " $1");
                            return tempDiv.textContent;                            
                        }
                    }

                    function deletePoiItem(e){
                        e.preventDefault();
                        var poiItem = $(e.target).closest(".poi-list-item");
                        var poiId = poiItem.data("id");
                        $.ajax({
                            data: new FormData(this),
                            type: "DELETE",
                            url: Routing.generate('delete_poi', { id: poiId }), // " path('delete_poi', {'id': ''}) ",
                            dataType: "json",
                            cache: false,
                            contentType: false,
                            processData: false,
                            success: function(data) {
                                if(data.error === 0){
                                    poiItem.hide('fast', function(){ $(this).remove(); });
                                    deletePoi(poiId);
                                }
                                else{
                                    //alert(data.message);
                                }
                            },
                            error: function(data){
                                alert("Błąd połączenia");
                            }
                        });
                    }  
                    
                    function deletePoi(poiId){
                        poiMarkers[poiId].setMap(null);
                        delete poiMarkers[poiId];
                    }

                    function editPoiItem(e){
                        e.preventDefault();
                        alert("not implemented");
                    }

                    function poiItemClick(e){
                        e.preventDefault();
                        selectPoiMenuItem(this);
                        openPoi(this.dataset.id);
                    }

                    function getCurrentPoiIds(){
                        var arr = [];
                        Object.keys(poiMarkers).forEach(function(key, index) {
                            arr.push(poiMarkers[key].pid);
                        });
                        return arr;
                    }

                    $('#save_all').click(function(){
                        if(Object.keys(poiMarkers).length > 0){
                            $.ajax({
                                url: "{{ path('group_poi') }}",
                                data: {"poi_array": getCurrentPoiIds()},
                                type: "POST",
                                success: function (data) {
                                    if(data.error === 0){
                                        window.location = Routing.generate('poi_group', { id: data.poi_group });
                                    }
                                    else{
                                        alert(data.message);
                                    }
                                },
                                error: function(data){
                                    alert("Błąd połączenia");
                                }
                            });
                        }
                        else{
                            alert("Nie dodano żadnych punktów");
                        }
                    });

                    $('#poi-marker-cust').on('change', function(){
                        var input = $("#poi-marker-icon-file");
                        if(input[0].files.length == 0){
                            input.click();
                            $("#poi-marker-default").prop('checked', true);
                        }
                    });

                    $('#poi-marker-icon-file').on('change', function(){
                        var preview = $("#icon-preview")[0];
                        if(this.files.length == 0){
                            $("#poi-marker-default").prop('checked', true);
                            preview.style.display = "none";
                        }
                        else{
                            $("#poi-marker-cust").prop('checked', true);
                            var URL = window.URL || window.webkitURL;
                            preview.src = URL.createObjectURL(this.files[0]);
                        }
                    });

                    $("#icon-preview").on('load', function(){
                        this.style.display = "block";
                    });

                    $('#done_selection').on('click', function(){
                        $('#gmaps').removeClass("full-page");
                        $('#addPoiModal').modal('show');
                        $('#done_selection').hide();
                        $('#add_poi').show();
                        $('#save_all').show();
                        map.setOptions({draggableCursor: null});
                        google.maps.event.removeListener(selectPoiClickListener);
                        removeSelectedPoi();
                    });

                    $('#select-poi').on('click', function(){
                        $('#gmaps').addClass("full-page");
                        $('#addPoiModal').modal('hide');
                        $('#done_selection').show();
                        $('#add_poi').hide();
                        $('#save_all').hide();

                        if(selectedPoiMarker){
                            selectedPoiMarker.setMap(map);
                        }
                        else{
                            selectedPoiMarker = new google.maps.Marker();
                            selectedPoiMarker.setLabel("+");
                        }
    
                        map.setOptions({draggableCursor:'pointer'});
    
                        selectPoiClickListener = map.addListener('click', function(e) {
                            removeSelectedPoi();
                            placeMarker(e.latLng, map);
                        });
                        
                        function placeMarker(position, map) {
                            /*selectedPoiMarker = new google.maps.Marker({
                                position: position,
                                label: "+",
                                map: map
                            });*/
                            selectedPoiMarker.setPosition(position);
                            selectedPoiMarker.setMap(map);
                            //map.panTo(position);
                            removeSelectedPoi = removeMarker;
                            $('#poi-lat').val(position.lat().toFixed(7));
                            $('#poi-lng').val(position.lng().toFixed(7));
                        }
    
                        function removeMarker(){
                            selectedPoiMarker.setMap(null);
                        }
                    });

                    $('#add-poi-form').submit(function(e) {
                        e.preventDefault();
                        $.ajax({
                            data: new FormData(this),
                            type: "POST",
                            url: $(this).attr('action'),
                            dataType: "json",
                            cache: false,
                            contentType: false,
                            processData: false,
                            success: function(data) {
                                if(data.error === 0){
                                    addPoi(data.poi.geometry.coordinates[1], data.poi.geometry.coordinates[0], data.poi.properties);
                                    openPoi(data.poi.properties.id);
                                    $('#addPoiModal').modal('hide');
                                    selectedPoiMarker = null;
                                    clearForm();
                                }
                                else{
                                    alert(data.message);
                                }
                            },
                            error: function(data){
                                alert("Błąd połączenia");
                            }
                        });
                        return false; 
                    });

                    $('#clear-form').on('click', clearForm);

                    function clearForm(){
                        $("#add-poi-form input:not([type='button']):not([name='poi-marker-icon'])").val("");
                        editor.setValue("");
                        $("#poi-marker-default").prop('checked', true);
                        $("#icon-preview")[0].style.display = "none";
                    }

                    $('.manage .delete-poi').on('click', clearForm);

                });

                $('#addPoiModal').on('shown.bs.modal', function (e) {
                    //editor.editor.dispatchEvent(new Event('resize'));
                    //editor.el[0].dispatchEvent(new Event('resize'));
                    window.dispatchEvent(new Event('resize'));
                });

            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQh_PZIKPsD_dOqp7b0XqRfLyEImg0AyQ&callback=initMap" async defer></script>
        </div>
    </div>
  </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  
  {# <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> #}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% endblock %}