<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <style>
            #map {
              height: 100%;
            }
            html, body {
              height: 100%;
              margin: 0;
              padding: 0;
            }

            h3 a{
              color: inherit !important;
            }
          
            #info-window-content h1{
              font-size: 2em;
              line-height: 1;
              font-weight: bold;
              margin-top: 0.5em;
              margin-bottom: 0.5em;
            }
          
            #info-window-content #bodyContent{
              font-size: 1.1em;
              font-weight: 400;
            }  

            #icon-preview{
              width: 50px;
              height: 50px;
            }
          
            .btn-menu .btn-outline{
              color: #fff;
            }  
            
            .btn-menu{
              margin-left: 10px;
            }  

            .right-menu .top-bar{
              padding: 15px;
              height: 68px;
              border-bottom: 1px solid #cecece;
            }
          
            .full-page{
              position: fixed !important;
              width: 100%;
              height: 100%;
              z-index: 9999 !important;
            }
          
            .btn{
              font-weight: 500;
            }
          
            .btn-icon-dark{
              color: rgba(0,0,0,.55);
              background-color: transparent;
            }
          
            .btn-icon-dark:hover{
              color: rgba(0,0,0,.87);
              background-color: transparent;
            }
          
            .material-icons{
              vertical-align: top;
            }
            
            .jodit_container{
              font-family: Roboto,sans-serif !important;
              font-weight: 400;
            }
          
            .simditor-body{
              font: 400 16px Roboto, Arial, sans-serif;
            }
            
            .simditor-body p {
                margin-bottom: 0 !important;
              }  
          
              .poi-list-item p{
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  text-overflow: ellipsis;
              }
          
              #poi-menu-list{
                  width: 100%;
              }
          
              #poi-menu-list small{
                  font-size: 12px;
                  color: #8e8e8e;
              }
          
              #poi-menu-list small.manage{
                  display: none;
              }
          
              #poi-menu-list a.active small.manage{
                  color: #fff;
                  display: block;
              }    
          
              #poi-menu-list small.manage i{
                  font-size: 21px;
              }
          
              #poi-menu-list a h5{
                  position: relative;
                  white-space: nowrap;
                  width: 400px;
                  overflow: hidden;
                  line-height: normal;
                  top: -1px;
                  text-overflow: ellipsis;
              }
          
              #poi-menu-list a.active h5{
                  width: 297px;
                  text-overflow: clip;
              }
          
              #poi-menu-list a.active h5:after{
                  content: '';
                  position: absolute;
                  top: 0;
                  right: 0;
                  width: 15%;
                  height: 110%;
                  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #537294 80%, #537294 100%);
                  pointer-events: none;
              }    
          
              small.manage i{
                  border-radius: 21px;
                  padding: 3px;       
              }
          
              small.manage i:hover{
                  background-color: rgba(255, 255, 255, 0.3); 
              }    
          
              #poi-menu-list a.active small{
                  color: rgba(255, 255, 255, 0.62);
              }    
          
              #info-window-content blockquote{
                  border-left: 4px solid #ddd;
                  padding: 5px 0 5px 10px;
                  margin: 15px 0 15px 0;
              }
          
              #info-window-content p{
                  margin-bottom: 1em;
              }
          
              #info-window-content blockquote p{
                  margin: 0;
              }
          
              img.thumb.attach{
                  height: 80px;
                  max-width: 150px;
              }
          
              .photo-gallery a{
                  margin: 0 5px 5px 0;
                  display: block;
                  float: left;
              }
          
              .mfp-fade.mfp-bg {
                  opacity: 0;
                
                  -webkit-transition: all 0.15s ease-out;
                  -moz-transition: all 0.15s ease-out;
                  transition: all 0.15s ease-out;
                }
                /* overlay animate in */
                .mfp-fade.mfp-bg.mfp-ready {
                  opacity: 0.8;
                }
                /* overlay animate out */
                .mfp-fade.mfp-bg.mfp-removing {
                  opacity: 0;
                }
                
                /* content at start */
                .mfp-fade.mfp-wrap .mfp-content {
                  opacity: 0;
                
                  -webkit-transition: all 0.15s ease-out;
                  -moz-transition: all 0.15s ease-out;
                  transition: all 0.15s ease-out;
                }
                /* content animate it */
                .mfp-fade.mfp-wrap.mfp-ready .mfp-content {
                  opacity: 1;
                }
                /* content animate out */
                .mfp-fade.mfp-wrap.mfp-removing .mfp-content {
                  opacity: 0;
                }
          </style>
        {% endblock %}
        {% block resources %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="{{ asset('css/cover.css') }}" rel="stylesheet">
        <link href="{{ asset('css/simditor.css') }}" rel="stylesheet">
        <link href="{{ asset('css/magnific-popup.css') }}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {# <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.39/jodit.min.css"> #}
        {# <script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.39/jodit.min.js"></script> #}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{{ asset('js/module.js') }}"></script>
        <script src="{{ asset('js/hotkeys.js') }}"></script>
        <script src="{{ asset('js/uploader.js') }}"></script>
        <script src="{{ asset('js/simditor.js') }}"></script>
        <script src="{{ asset('js/jquery.magnific-popup.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQh_PZIKPsD_dOqp7b0XqRfLyEImg0AyQ&callback=initMap" async defer></script>
            <script src="{{ asset('js/markerclusterer.min.js') }}"></script>        
        {% endblock %}
    </body>
</html>
